
<div class="container text-center justify-content-center p-5">
  <h1><%= @task.title %></h1>

  <p><%= @task.details %></p>
  <p><input type="checkbox" value="<%= @task.title %>" <%= 'checked' if @task.completed %>> This task is not completed yet</p>

  <p>
    <%= link_to 'ðŸ”™', index_path %>
  </p>
  <p>
    <%= link_to 'âœï¸', edit_path %>
  </p>
  <p>
    <%= link_to 'ðŸ—‘', delete_path, method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
</div>
